<div>
  <link href="./career.css" rel="stylesheet" />
  <div class="career-feature-card">
    <div class="career-container">
      <div class="career-container1">
        <h2 class="career-text"><span>Lorem ipsum</span></h2>
        <span class="career-text1">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem
            lorem, malesuada in metus vitae, scelerisque accumsan ipsum.
          </span>
        </span>
      </div>
      <div class="career-container2">
        <span class="career-text2"><span>Text</span></span>
        <span class="career-text3"><span>Text</span></span>
      </div>
    </div>
  </div>
</div>
