.career-feature-card {
  width: 500px;
  height: 220px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-color: var(--dl-color-primary-700);
  border-width: 1px;
  border-radius: 16px;
  flex-direction: row;
  padding-bottom: 16px;
  justify-content: flex-start;
}
.career-feature-card:hover {
  transform: scale(1.02);
}
.career-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.career-container1 {
  height: 176px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.career-text {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.career-text1 {
  color: var(--dl-color-gray-white);
  opacity: 0.5;
  font-size: 16px;
}
.career-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.career-text2 {
  color: var(--dl-color-primary-700);
  width: var(--dl-size-size-xxlarge);
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-weight: 600;
}
.career-text3 {
  color: var(--dl-color-primary-700);
  width: auto;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-weight: 600;
}







@media(max-width: 991px) {
  .career-feature-card {
    width: auto;
  }
}
@media(max-width: 767px) {
  .career-feature-card {
    flex-direction: row;
  }
  .career-container1 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .career-feature-card {
    width: 320px;
  }
  .career-container {
    width: auto;
  }
  .career-container1 {
    flex-direction: column;
  }
  .career-text {
    font-size-adjust: auto;
  }
  .career-text1 {
    width: auto;
  }
  .career-container2 {
    width: auto;
  }
  .career-text2 {
    width: var(--dl-size-size-medium);
  }
  .career-text3 {
    width: var(--dl-size-size-xlarge);
    text-align: right;
  }
  .career-root-class-name3 {
    width: auto;
  }
}
