.projectcard-feature-card {
  width: 360px;
  height: 460px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  border-color: var(--dl-color-primary-700);
  border-width: 1px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
}
.projectcard-feature-card:hover {
  transform: scale(1.02);
}
.projectcard-text {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.projectcard-text1 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.projectcard-container {
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.projectcard-text2 {
  color: var(--dl-color-primary-700);
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(123, 74, 226, 0.1);
}
.projectcard-text3 {
  color: var(--dl-color-primary-700);
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(123, 74, 226, 0.1);
}
.projectcard-image {
  flex: initial;
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.projectcard-root-class-name {
  width: 360px;
}







@media(max-width: 479px) {
  .projectcard-feature-card {
    width: auto;
    align-items: center;
    justify-content: center;
  }
  .projectcard-root-class-name1 {
    width: auto;
  }
}
